html,
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  background-color: #fff;
  padding: 0;
  margin: 0;
  /*background: rgb(180, 66, 122);
  background: linear-gradient(
    120deg,
    rgba(180, 66, 122, 1) 0%,
    rgba(81, 132, 250, 1) 50%,
    rgba(0, 212, 255, 1) 100%
  );*/
}

.container {
  margin: 70px auto 0 auto;
  max-width: 1200px;
}
.nav-container {
  margin: auto;
}
.nav-container svg {
  color: #fff;
}

a {
  text-decoration: none;
}
